/* 基础公共样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 继承 */
}

/* li标签去点 */
li {
    list-style: none;
}

/* 文字默认样式 */
body {
    font: 14px/1.5"微软雅黑", Hiragino Sans GB, STHeiti, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    /* 去掉下划线 */
}